
.result {
  padding-left: 30px;
  color: #425465;
  font-family: Montserrat, sans-serif !important;
}

.radar-chart {
  overflow-x: scroll;
}

.result .grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  padding: 10px;
}

.result .grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  padding: 10px;
}

.result .grid-container > div {
  padding-left: 20px;
}

.result .grid-container-2 > div {
  text-align: center;
}

.result .item1 {
  background-color: #db545a;
  color: white;
  grid-column: 2/10;
}

.result .item2 {
  background-color: #ede2c3;
  grid-column: 5/10;
}

.result .item1 .title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

.result .note {
  font-size: 13px;
  margin: 10px 10px 0 34px;
}

.result .item2 .title {
  font-size: 20px;
  margin: 10px;
}

.result-title {
  margin: 25px 25px 0 95px;
  font-size: 30px;
}

.u-mssv {
  font-size: 40px;
  font-weight: bold;
}

.t-grid-container {
  display: grid;
  grid-template-columns: auto 30px;
  gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
}

.see-more-1{
  margin-left: 34px;
  font-size: 13px;
  font-style: italic;
  color: #425465;
  text-decoration: underline;
}

.see-more{
  margin-left: 34px;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
}

/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  padding: 100px 45%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #425465;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}