
.result {
  padding-left: 30px;
  color: #425465;
  font-family: Montserrat, sans-serif !important;
}

.result .grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  padding: 10px;
}

.result .grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  padding: 10px;
}

.result .grid-container > div {
  padding-left: 20px;
}

.result .grid-container-2 > div {
  text-align: center;
}

.result .item1 {
  background-color: #db545a;
  color: white;
  grid-column: 2/10;
}

.result .item2 {
  background-color: #ede2c3;
  grid-column: 5/10;
}

.result .item1 .title {
  font-size: 25px;
  font-weight: bold;
}

.result .note {
  font-size: 13px;
  margin: 10px;
}

.result .item2 .title {
  font-size: 20px;
  margin: 10px;
}

.result-title {
  margin: 25px 25px 0 95px;
  font-size: 30px;
}

.u-mssv {
  font-size: 40px;
  font-weight: bold;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 20px;
  position: relative;
}

/* Safari */
/* @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.t-grid-container {
  display: grid;
  grid-template-columns: auto 30px;
  gap: 5px;
  padding: 5px;
  justify-content: space-evenly;
}

/* .t-grid-container > div {
  text-align: center;
} */

