 .u-test-section-1 {
  background-image: none;
}

.u-test-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-test-section-1 .u-group-1 {
  min-height: 188px;
  margin-bottom: 0;
  margin-top: 0;
  height: auto;
}

.u-test-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-test-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 5px 891px 0 0;
}

.u-test-section-1 .u-list-1 {
  width: 570px;
  margin: 5px auto 0 0;
}

.u-test-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 91px;
}

.u-test-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-test-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-test-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-test-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-test-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-test-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-test-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-test-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-test-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-test-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-test-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-test-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-test-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-test-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-test-section-1 .u-btn-14 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-test-section-1 .u-btn-15 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-test-section-1 .u-btn-16 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-test-section-1 .u-btn-17 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-test-section-1 .u-btn-18 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-test-section-1 .u-btn-19 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-test-section-1 .u-btn-20 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 0 -14px;
  padding: 9px 24px 10px 22px;
}

.u-test-section-1 .u-list-2 {
  width: 570px;
  margin: 0 auto 0 0;
}

.u-test-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
  grid-auto-columns: 10%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 46px;
}

.u-test-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-test-section-1 .u-btn-21 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-test-section-1 .u-btn-22 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-test-section-1 .u-btn-23 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-test-section-1 .u-btn-24 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-test-section-1 .u-btn-25 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-27 {
  padding: 0;
}

.u-test-section-1 .u-btn-26 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-test-section-1 .u-btn-27 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-29 {
  padding: 0;
}

.u-test-section-1 .u-btn-28 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-30 {
  padding: 0;
}

.u-test-section-1 .u-btn-29 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-container-layout-31 {
  padding: 0;
}

.u-test-section-1 .u-btn-30 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 9px 23px 10px;
}

.u-test-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 507px;
  margin: 13px auto 0;
}

.u-test-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 12px 0 0 15px;
}

.u-test-section-1 .u-list-3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-test-section-1 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 328px;
}

.u-test-section-1 .u-container-layout-32 {
  padding: 10px;
}

.u-test-section-1 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-test-section-1 .u-container-layout-33 {
  padding: 10px;
}

.u-test-section-1 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-test-section-1 .u-container-layout-34 {
  padding: 10px;
}

.u-test-section-1 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 500;
  margin: 0 auto 0 0;
}

.u-test-section-1 .u-list-4 {
  width: 1110px;
  margin: -291px 0 0 auto;
}

.u-test-section-1 .u-repeater-4 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 61px;
}

.u-test-section-1 .u-container-layout-35 {
  padding: 10px 10px 8px;
}

.u-test-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 8px;
}

.u-test-section-1 .u-container-layout-36 {
  padding: 10px 10px 8px;
}

.u-test-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 8px;
}

.u-test-section-1 .u-container-layout-37 {
  padding: 10px 10px 8px;
}

.u-test-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 8px;
}

.u-test-section-1 .u-container-layout-38 {
  padding: 10px 10px 8px;
}

.u-test-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 8px;
}

.u-test-section-1 .u-btn-31 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  margin: 231px 0 0 auto;
  padding: 9px 19px 10px 18px;
}

.u-test-section-1 .u-btn-32 {
  border-style: solid;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: -48px auto 21px 0;
  padding: 9px 19px 10px 18px;
}

@media (max-width: 1199px) {
  .u-test-section-1 .u-group-1 {
    height: auto;
  }

  .u-test-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .u-test-section-1 .u-text-1 {
    margin-right: 691px;
  }

  .u-test-section-1 .u-repeater-1 {
    min-height: 76px;
  }

  .u-test-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 23px;
    padding-left: 23px;
  }

  .u-test-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-3 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-4 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-5 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-6 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-7 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-8 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-9 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-10 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-11 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-12 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-13 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-14 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-15 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-16 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-17 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-18 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-19 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-btn-20 {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-test-section-1 .u-list-2 {
    margin-top: 20px;
  }

  .u-test-section-1 .u-repeater-2 {
    min-height: 45px;
    grid-template-columns: repeat(10, 10%);
  }

  .u-test-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-test-section-1 .u-list-4 {
    width: 940px;
  }

  .u-test-section-1 .u-repeater-4 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 51px;
  }
}

@media (max-width: 991px) {
  .u-test-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-test-section-1 .u-group-1 {
    min-height: 200px;
  }

  .u-test-section-1 .u-text-1 {
    margin-top: 15px;
    margin-right: 471px;
  }

  .u-test-section-1 .u-repeater-1 {
    min-height: 90px;
    grid-auto-columns: 10%;
  }

  .u-test-section-1 .u-btn-1 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-2 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-3 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-4 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-5 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-6 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-7 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-8 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-9 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-10 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-11 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-12 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-13 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-14 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-15 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-16 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-17 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-18 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-19 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-btn-20 {
    padding-top: 9px;
    margin: 0;
  }

  .u-test-section-1 .u-list-2 {
    margin-top: 0;
  }

  .u-test-section-1 .u-repeater-2 {
    min-height: 48px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  }

  .u-test-section-1 .u-btn-21 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-22 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-23 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-24 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-25 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-26 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-27 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-28 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-29 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-btn-30 {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .u-test-section-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-test-section-1 .u-text-3 {
    width: auto;
    margin-left: 8px;
  }

  .u-test-section-1 .u-list-4 {
    width: 705px;
  }

  .u-test-section-1 .u-repeater-4 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 54px;
  }

  .u-test-section-1 .u-container-layout-35 {
    padding: 5px 0;
  }

  .u-test-section-1 .u-container-layout-36 {
    padding: 5px 0;
  }

  .u-test-section-1 .u-container-layout-37 {
    padding: 5px 0;
  }

  .u-test-section-1 .u-container-layout-38 {
    padding: 5px 0;
  }

  .u-test-section-1 .u-btn-31 {
    margin-top: 225px;
  }

  .u-test-section-1 .u-btn-32 {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .u-test-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-test-section-1 .u-text-1 {
    margin-right: 291px;
  }

  .u-test-section-1 .u-list-1 {
    width: 540px;
  }

  .u-test-section-1 .u-repeater-1 {
    min-height: 381px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-auto-columns: 20%;
  }

  .u-test-section-1 .u-list-2 {
    width: 540px;
  }

  .u-test-section-1 .u-repeater-2 {
    grid-auto-columns: 20%;
    min-height: 113px;
    grid-template-columns: repeat(5, 20%);
  }

  .u-test-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-test-section-1 .u-list-4 {
    width: 540px;
  }

  .u-test-section-1 .u-repeater-4 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 164px;
  }
}

@media (max-width: 575px) {
  .u-test-section-1 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-test-section-1 .u-group-1 {
    min-height: 347px;
  }

  .u-test-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 91px;
  }

  .u-test-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-test-section-1 .u-repeater-1 {
    min-height: 189px;
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
    grid-auto-columns: 16.6667%;
  }

  .u-test-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-test-section-1 .u-repeater-2 {
    grid-auto-columns: 16.6667%;
    min-height: 93px;
    grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  }

  .u-test-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-test-section-1 .u-repeater-3 {
    min-height: 595px;
  }

  .u-test-section-1 .u-list-4 {
    width: 325px;
    margin-top: -542px;
  }

  .u-test-section-1 .u-repeater-4 {
    grid-gap: 2px 2px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 155px;
  }

  .u-test-section-1 .u-container-layout-35 {
    padding-bottom: 0;
  }

  .u-test-section-1 .u-container-layout-36 {
    padding-bottom: 0;
  }

  .u-test-section-1 .u-container-layout-37 {
    padding-bottom: 0;
  }

  .u-test-section-1 .u-container-layout-38 {
    padding-bottom: 0;
  }

  .u-test-section-1 .u-btn-31 {
    margin-top: 399px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 0px;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  height: 46px;
  padding: 0;
}